.page-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/background.webp') no-repeat center bottom;
    background-size: cover;
    filter: grayscale(100%) brightness(50%);
    z-index: -1;
}

.page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.page-container * {
    position: relative;
    z-index: 1;
}

.page-content{
    justify-items: center;
    width: 80%;
    height: 85%;
    border-radius: 5px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background: rgba(255, 255, 255, 0.8);
    overflow-y: auto;
    padding: 10px;
    border: solid 3px #f4bc30;
}
