* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #e1d19e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.navbar{
    border: 5px solid #f4bc30;
}

.navbar-container{
    overflow-x: auto;
    width: 100vw;
    height: auto;
    background-color: white;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navbar-menu ul{
    align-items: center;
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-menu ul li a img{
    height: 5vh;
    width: auto;
}

.navbar-menu ul li a{
    text-decoration: none;
    color: #343d3a;
    font-size: 3vh;
}

.navbar-menu ul li a:hover{
    color: #f4bc30;
    transition: 0.3s;
}

.navbar-menu ul li a.active {
    color: #f4bc30;
}

.contact-page::before, .home-page::before, .about-page::before, .login-page::before, .halls-page::before, .reservations-page::before, .registration-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/background.webp') no-repeat center bottom;
    background-size: cover;
    filter: grayscale(100%) brightness(50%);
    z-index: -1;
}

.home-page, .about-page, .contact-page, .login-page, .halls-page, .reservations-page, .registration-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.logo {
    margin-top: 2vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 5vh;
}

.logo img {
    height: 30vh;
    max-height: 500px;
    max-width: 300px;
    width: auto;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.login-button {
    display: inline-flex;
    align-items: center;
    margin-right: 1vw;
    margin-left: 1vw;
    justify-content: center;
    padding: 6vw 6vw;
    font-size: 5vh;
    color: #343d3a;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
}

.login-button .icon {
    font-size: 10vh;
    margin-right: 10px;
    filter: grayscale(100%) brightness(100%);
}

.login-button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-content, .contact-content, .login-content, .home-content, .halls-content, .reservations-content {
    width: 90%;
    height: 85%;
    border-radius: 5px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background: rgba(255, 255, 255, 0.8);
    overflow-y: auto;
    padding: 10px;
    border: solid 3px #f4bc30;
}

.login-content, .home-content{
    justify-items: center;
}

.about-content h1, .contact-content h1{
    font-size: 5vh;
}
.about-content h2, .contact-content h2{
    margin-top: 2vh;
    font-size: 4vh;
}

.about-content p, .contact-content p{
    background: white;
    padding: 10px;
    font-style: italic;
    font-size: 2vh;
    margin-bottom: 10px;
}

.team-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    background: white;
    border-radius: 10px;
    padding: 15px;
}

.team-member p{
    padding: 5px;
}

.team-member img {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.photo-galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr)); /* Automatyczna liczba kolumn */
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.photo {
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s
}

.photo:hover {
    transform: scale(1.05);
}

.contact-info a{
    text-decoration: none;
    color: black;
}

.map-container{
    width: 100%;
    height: 50vh;
}
.map-container iframe{
    width: 100%;
    height: 90%;

}

.social-media a{
    margin: 10px;
    font-size: 10vh;
    padding-left: 20%;
    color: black;
    text-decoration: none;
}

.contact-form {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form p {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-weight: bold;
    color: #555;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 2vh;
    transition: border-color 0.3s ease;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color: #b8860b;
    outline: none;
}

.contact-form textarea {
    min-height: 8vh;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #b8860b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #f4bc30;
}

.home-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.home-content p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 800px;
}

.hotel-img {
    width: 40%;
    height: 70%;
}

.hotel-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.footer {
    justify-items: center;
    width: 100%;
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.footer a{
    color: white;
    text-decoration: none;
}

.container-halls, .container-reservations{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.hall-card, .reservation-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hall-card img, .reservation-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 8px;
}

.hall-card h3, .reservation-card h3 {
    margin: 0 0 10px 0;
}
.hall-card .details-button, .reservation-card .details-button {
    margin-top: 10px;
    display: inline-block;
    padding: 8px 12px;
    background: #f4bc30;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.hall-card .details-button:hover, .reservation-card .details-button:hover {
    background: #ba8e25;
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.pagination select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.pagination-buttons {
    display: flex;
    gap: 10px;
}
.pagination-buttons button {
    padding: 8px 12px;
    border: none;
    background: #f4bc30;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.login-form {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;

}

.login-form h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #333;
    text-align: center;
}

.login-form p {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: #555;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    font-weight: bold;
    color: #555;
    font-size: 0.9rem;
}

.login-form input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: #b8860b;
    outline: none;
    box-shadow: 0 0 5px rgba(184, 134, 11, 0.4);
}

.login-form button {
    padding: 12px 20px;
    background-color: #b8860b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.login-form button:hover {
    background-color: #f4bc30;
}